include README.md
include license.txt

recursive-include shipment_tracking *.json
recursive-include shipment_tracking *.py
recursive-include shipment_tracking *.js
recursive-include shipment_tracking *.css
recursive-include shipment_tracking *.html
recursive-include shipment_tracking *.md
recursive-include shipment_tracking *.txt
recursive-include shipment_tracking *.png
recursive-include shipment_tracking *.jpg
recursive-include shipment_tracking *.svg
recursive-include shipment_tracking *.csv

recursive-exclude * __pycache__
recursive-exclude * *.py[co]